---
import Layout from '@components/Layout.astro'
import RichText from '@components/PortableText/RichText.astro'
import { getAllBlogPosts } from '@lib/api'
import type { BlogPost } from '@types'

export async function getStaticPaths() {
  const allPosts: BlogPost[] = await getAllBlogPosts()

  return allPosts.map((page: BlogPost) => ({
    params: { slug: page.slug.current },
    props: { page }
  }))
}

const {
  page: { title, richText, seo, _createdAt }
} = Astro.props
---

<Layout
  metaTitle={seo.metaTitle}
  metaDescription={seo.metaDescription}
  metaImage={seo.metaImage}
>
  <section class="narrow-container">
    <time>
      {
        new Date(_createdAt).toLocaleDateString('en-GB', {
          day: 'numeric',
          month: 'long',
          year: 'numeric'
        })
      }
    </time>
    <h1 class="title">{title}</h1>

    <div class="rich-text">
      <RichText richText={richText} />
    </div>
  </section>
</Layout>

<style lang="scss">
  time {
    margin-top: 3rem;
    display: block;
    opacity: 0.75;
  }

  .title {
    margin: 1rem 0 2rem 0;
  }

  .rich-text {
    margin-bottom: 6rem;
  }
</style>
