---
import Layout from '@components/Layout.astro'
import { getAllBlogPosts, getBlogPage } from '@lib/api'
import type { BlogPost } from '@types'

const posts: BlogPost[] = await getAllBlogPosts()
const { title, seo } = await getBlogPage()
---

<Layout
  metaTitle={seo.metaTitle}
  metaDescription={seo.metaDescription}
  metaImage={seo?.metaImage}
>
  <section>
    <div class="narrow-container">
      {title && <h1 class="title">{title}</h1>}
      <ul>
        {
          posts.map((post: BlogPost) => (
            <li>
              <a class="link" href={`/blog/${post.slug.current}`}>
                {post.title}
              </a>
              <time datetime={`${post._createdAt}`}>
                {new Date(post._createdAt).toLocaleDateString()}
              </time>
            </li>
          ))
        }
      </ul>
    </div>
  </section>

  <style lang="scss">
    @import '@styles/_breakpoints';

    section {
      padding: 2rem 0;

      @include mq('small') {
        padding: 5rem 0;
      }
    }

    .title {
      margin-bottom: 2rem;
    }

    ul {
      list-style: none;

      li {
        margin-bottom: 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      time {
        opacity: 0.75;
      }
    }
  </style>
</Layout>
