---
import Link from '@components/Link.astro'
import type { Image, NavLink } from '@types'
import urlFor from '@utils/urlFor'

interface Props {
  portraitImage: Image
  navLinks: NavLink[]
}

const { portraitImage, navLinks } = Astro.props
---

<header class="container">
  <div class="flex-container">
    <div class="img-container">
      <a href="/">
        <img src={urlFor(portraitImage).url()} alt={portraitImage.alt} />
      </a>
    </div>
    <nav>
      <ul class="nav-list">
        {
          navLinks.map(({ external, internal, newTab, linkText }) => (
            <li>
              <Link
                external={external}
                internal={internal}
                newTab={newTab}
                class="link"
              >
                {linkText}
              </Link>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  @import '@styles/_breakpoints';

  header {
    display: block;

    @include mq('small') {
      display: none;
    }
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
  }

  .img-container {
    display: flex;
    align-items: center;

    & img {
      width: 2.5rem;
      border-radius: 5px;
    }
  }

  .nav-list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }

  .link {
    color: var(--primary-dark);
    text-decoration: none;
    transition: color 300ms;

    &:hover {
      color: var(--mid-grey);
    }
  }
</style>
